<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quest Step 1</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Ты потерял память</h1>
<p>Принять вызов НЛО?</p>

<form action="/quests/2" method="get">
    <button type="submit">Принять вызов</button>
</form>
<form action="/quests/lost1" method="get">
    <button type="submit">Отклонить вызов</button>
</form>

<footer>
    <hr>
    <p>Имя игрока: <span th:text="${playerInfo.name}"></span></p>
    <p>IP: <span th:text="${playerInfo.ip}"></span></p>
    <p>Игр сыграно: <span th:text="${playerInfo.gamesPlayed}"></span></p>
</footer>
</body>
</html>
